/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GENERAL */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #787887;
  background: linear-gradient(
    180deg,
    hsl(273deg 75% 66% / 100%) 0%,
    hsl(240deg 73% 65% / 100%) 100%
  );
  font: 400 1rem "Kumbh Sans", sans-serif;
  text-rendering: optimizespeed;
  line-height: 1.5;
}

.visually-hidden:not(:focus, :active) {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* FAQ ACCORDION CARD */
.faq-accordion-card {
  position: relative;
  max-width: 20.438rem;
  background-color: #fff;
  border-radius: 23px;
  padding: 2rem 1.55rem;
  padding-top: 0;
  margin: 9.25rem 0;
  box-shadow: 0 10px 35px #00000050;
}

.faq-accordion-card::before,
.before-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 73%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -36%;
}

.faq-accordion-card::before {
  background-image: url("../images/illustration-woman-online-mobile.svg");
  transform: translateY(-60%);
  padding-top: 55%;
}

.before-container::before {
  background-image: url("../images/bg-pattern-mobile.svg");
  transform: translateY(-19%);
  padding-top: 51%;
}

.faq-accordion-card h2 {
  color: #1d1e35;
  font: 700 2rem "Kumbh Sans", sans-serif;
  text-align: center;
  margin-top: 8.15rem;
  margin-bottom: 2rem;
}

/* FAQ LIST */
.faq-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.faq-list h3 {
  position: relative;
  color: #4a4b5e;
  font: 400 0.823rem "Kumbh Sans", sans-serif;
  margin-bottom: 1rem;
  margin-right: 2.6rem;
}

.faq-list h3::before,
.faq-list h3::after {
  content: "";
  position: absolute;
  top: 0;
  right: -2.71rem;
  width: 0.6rem;
  padding-top: 1rem;
  background-image: url("../images/icon-arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.faq-list h3::after {
  display: none;
  transform: rotate(180deg);
}

.faq-list p {
  display: none;
  max-width: 15rem;
  font: 400 0.75rem "Kumbh Sans", sans-serif;
  line-height: 1.45;
  margin-bottom: 1rem;
}

.faq-list hr {
  max-width: 17.338rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.faq-list li:last-child hr {
  margin: 0;
}
